<div class="col-12 col-md-10 offset-md-1">
  <h1>Demographic Research</h1>

  <h3>Advancing Justice-LA works to promote a better understanding of Asian American, Native Hawaiian, and Pacific Islander (NHPI) communities by making data on AAs and NHPIs more accessible through research, technical assistance, and training.</h3>

  <p>Advancing Justice-LA’s research focuses on:</p>

  <p>Demographic profiles: Advancing Justice-LA’s reports present the latest data on Asian American and NHPI communities in a clear and accessible way. Our Diverse Face of Asians and Pacific Islanders and Community of Contrasts reports include population counts, growth, and key socioeconomic characteristics such as age, immigration, language, education, income, employment, housing, and health for Asian American and NHPI communities as a whole, as well as specific ethnic groups. Given the social and economic diversity in these communities, data disaggregated by ethnic group is critical to fully understanding them.</p>

  <p>Political participation: For nearly two decades, Advancing Justice-LA has produced the most up-to-date and reliable data on Asian American political participation in Southern California. Drawing from exit poll data and analyses of voter registration and turnout, our Asian Americans and the Ballot Box series has documented tremendous growth in the Asian American electorate and promoted a better understanding of how Asian Americans vote.</p>

  <p>Other areas: Advancing Justice-LA's other areas of research on issues impacting Asian Americans and NHPI communities include language and limited-English proficiency, disaster preparedness, marriage equality, and philanthropy.</p>

  <p>Advancing Justice-LA is also a Census Information Center (CIC), an official program of the U.S. Census Bureau aimed at promoting the dissemination of census data in underserved communities.</p>

</div>
