@import "bootstrap";

// MEDIA QUERIES

@media (max-width: 870px) {
  .top-nav { height: 100px !important; }
  .nav-logo { height: 100px !important; height: 80px !important; width: 149px !important; }
  .nav-title { font-size: 20px !important; padding-top: 50px !important; }
}

@media (max-width: 450px) {
  .nav-logo { content:url('/assets/logo.png') !important; height: 55px !important; width: 41px !important; margin-top: 13px !important; }
  .nav-title { padding-top: 50px !important; }
}

body {
  color: black;
  background-image: image_url("bg.png");
}

.top-nav {
  height: 143px;
  padding-top: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
  border-bottom: 3px grey solid;
  background-color: white;
}

.nav-logo {
  height: 120px;
  width: 223px;
}

.nav-title {
  font-size: 25px;
  padding-top: 75px;
}

.float-right {
  height: 140px;
}

.main div {
  margin: 10px 0 50px;
}
